.main__chooseTree {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__chooseTree > h3 {
  font-size: 1.5em;
  line-height: 1.7rem;
  font-family: inherit;
}

.main__treeContainer {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
}

.main__chooseTree,
.main__chooseTree > h3,
.main__treeContainer {
  margin: 0.5em;
}

.treeContainer__tree {
  width: 120px;
  height: 120px;

  border-radius: 1em;
  border: 3px solid transparent;
  background-color: var(--bgColor);
  background-size: auto 100px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  transition: 0.5s;
}

.treeContainer__tree:nth-child(1) {
  background-image: url('../../../../assets/img/tree/1.png');
}
.treeContainer__tree:nth-child(2) {
  background-image: url('../../../../assets/img/tree/2.png');
}
.treeContainer__tree:nth-child(3) {
  background-image: url('../../../../assets/img/tree/3.png');
}
.treeContainer__tree:nth-child(4) {
  background-image: url('../../../../assets/img/tree/4.png');
}
.treeContainer__tree:nth-child(5) {
  background-image: url('../../../../assets/img/tree/5.png');
}
.treeContainer__tree:nth-child(6) {
  background-image: url('../../../../assets/img/tree/6.png');
}

.treeContainer__tree:hover {
  transform: scale(1.15);
  border-color: var(--gold);
}

.treeContainer__tree:active {
  transform: scale(0.9);
}

@media (max-width: 1280px) {
  .main__treeContainer {
    column-gap: 0.85em;
    row-gap: 0.85em;
  }

  .main__chooseTree,
  .main__chooseTree > h3,
  .main__treeContainer {
    margin: 0.25em;
  }

  .treeContainer__tree {
    width: 100px;
    height: 100px;

    background-size: auto 80px;
  }
}

@media (max-width: 1024px) {
  .main__treeContainer {
    column-gap: 0.75em;
    row-gap: 0.75em;
  }

  .treeContainer__tree {
    width: 70px;
    height: 70px;

    background-size: auto 50px;
  }
}
