.main__quantityFilter {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.main__quantityFilter > p {
  margin: 0em 1em 1em;

  font-family: inherit;
}

.main__quantityFilterContainer {
  display: flex;
  align-items: center;
  margin: 0em 1em;
}

#main__quantityRangeSlider {
  width: 100%;
  height: 10px;
}

#main__quantityRangeSlider .noUi-connect {
  background: var(--darkGreen);
}

#main__quantityRangeSlider .noUi-handle {
  height: 18px;
  width: 18px;
  top: -5px;
  right: -9px; /* half the width */
  border-radius: 9px;
}

#main__quantityRangeSlider .noUi-handle:hover {
  cursor: pointer;
}

#main__quantityRangeSlider .noUi-handle::before,
#main__quantityRangeSlider .noUi-handle::after {
  display: none;
}

.main__quantityFilterContainer > output {
  display: inline-flex;
  justify-content: center;
  min-width: 3em;

  font-size: 1.5rem;
  line-height: 1.7rem;

  border: 2px solid var(--white);
  border-radius: 3px;
  background-color: var(--bgColor);
}

#main__quantityFilterContainer-min {
  margin-right: 1em;
}

#main__quantityFilterContainer-max {
  margin-left: 1em;
}

@media (max-width: 1280px) {
  .main__quantityFilter {
    margin: 0.5em;
  }

  .main__quantityFilter > p {
    margin: 0em 0.5em 0.5em;
  }

  .main__quantityFilterContainer {
    margin: 0em 0.5em;
  }

  #main__quantityRangeSlider {
    height: 8px;
  }

  #main__quantityRangeSlider .noUi-handle {
    height: 14px;
    width: 14px;
    top: -4px;
    right: -7px;
    border-radius: 7px;
  }

  .main__quantityFilterContainer > output {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .main__quantityFilter > p {
    margin: 0em 0.25em 0.25em;
  }

  .main__quantityFilterContainer {
    margin: 0em 0.25em;
  }

  .main__quantityFilterContainer > output {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
